h1{
            color:red;
            background-color: yellow;
        }

        p{
            color:chartreuse;
            background-color: darkkhaki;
        }

        button{
            color:blue;
            background: lightgray;
        }
